<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country data over years</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Import and Export progress over time</h1>
        <br/>
        <div class="mb-4">
            <!-- Container for country buttons -->
            <div class="btn-group btn-group-toggle btn-group-lg d-flex flex-wrap" role="group" data-toggle="buttons">
                {% for value in countries %}
                    <label class="btn btn-secondary custom-button" data-country="{{ value }}">
                        <input type="radio" name="country" id="country-{{ loop.index }}" autocomplete="off"> {{ value }}
                    </label>
                {% endfor %}
            </div>
        </div>

        <!-- Container for the Plotly chart -->
        <div class="mb-4" id="plot"></div>
        <h1 class="mt-5 text-center">Import and Export progress comparison</h1>
        <br/>
        <!-- Container for the table -->
        <div class="table-responsive">
            <div id="table-container"></div>
        </div>
    </div>

    <script>
        // Function to update the graph based on the selected country and NA items
        function updateGraph(country, na_items) {
            // Send an AJAX request to update_graph route with selected country and NA items
            $.ajax({
                type: 'POST',
                url: '/update_graph',
                data: {'country': country, 'na_items': na_items},
                success: function(response) {
                    // Parse the graph JSON data and update the Plotly chart
                    var graphJSON = response.graphJSON;
                    Plotly.react('plot', JSON.parse(graphJSON), {});

                    // Update the table with the new data
                    updateTable(response.tableData);
                }
            });
        }

        // Function to update the table
        function updateTable(tableData) {
            var tableHTML = '<table class="table table-striped table-bordered"><thead class="thead-dark"><tr><th>Year</th><th>Export Change</th><th>Export Change (%)</th><th>Import Change</th><th>Import Change (%)</th></tr></thead><tbody>';
            for (var i = 0; i < tableData.length; i++) {
                var exportChange = tableData[i].exportChange.toFixed(2);
                var exportPercentChange = tableData[i].exportPercentChange.toFixed(2);
                var importChange = tableData[i].importChange.toFixed(2);
                var importPercentChange = tableData[i].importPercentChange.toFixed(2);
                
                var exportChangeClass = exportChange >= 0 ? 'positive' : 'negative';
                var importChangeClass = importChange >= 0 ? 'positive' : 'negative';
                
                var exportTriangle = exportChange >= 0 ? '<div class="triangle-up"></div>' : '<div class="triangle-down"></div>';
                var importTriangle = importChange >= 0 ? '<div class="triangle-up"></div>' : '<div class="triangle-down"></div>';

                tableHTML += `<tr>
                    <td>${tableData[i].year}</td>
                    <td class="${exportChangeClass}">${exportChange} ${exportTriangle}</td>
                    <td class="${exportChangeClass}">${exportPercentChange}% ${exportTriangle}</td>
                    <td class="${importChangeClass}">${importChange} ${importTriangle}</td>
                    <td class="${importChangeClass}">${importPercentChange}% ${importTriangle}</td>
                </tr>`;
            }
            tableHTML += '</tbody></table>';
            $('#table-container').html(tableHTML);
        }

        // Function to highlight the active country button
        function setActiveButton(country) {
            $('.custom-button').removeClass('active');
            $('.custom-button[data-country="' + country + '"]').addClass('active');
        }

        // Attach click event listener to country buttons
        $(document).ready(function() {
            var na_items = JSON.parse('{{ na_items | tojson | safe }}');  // Parse NA items from Flask
            var defaultCountry = '{{ default_country }}';  // Get default country from Flask

            // Function to handle country button clicks
            $('.custom-button').click(function() {
                var selectedCountry = $(this).data('country');

                // Check if already active to prevent duplicate AJAX calls
                if (!$(this).hasClass('active')) {
                    // Update the graph with selected country and NA items
                    updateGraph(selectedCountry, na_items);
                    setActiveButton(selectedCountry);
                }
            });

            // Initialize the graph with default data when the page loads
            updateGraph(defaultCountry, na_items);
            setActiveButton(defaultCountry);
        });
    </script>
</body>
</html>
